.Graph-container {
    display: flex;
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
    gap: 20px; /* Optional: Adds space between the graphs */
    flex-wrap: wrap; 
    padding: 20px;
    width: 100%;
}

.Graph-container .graph {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    width: 80%; 
    height: 500px; 
    margin: 10px 0; 
    padding: 10px;
}


@media (max-width: 768px) {
    .Graph-container .graph {
        width: 100%; /* On smaller screens, make each graph take full width */
    }
}
