.Searchbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
}

input {
    border: 1px solid rgb(0, 0, 0);
    width: 900px;
    height: 20px;
}
